* {
    margin: 0;
    padding: 0;
}

div.section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.row {
    margin: 1.5em 0;
}

hr {
    background-color: black;
    width: 80vw;
    height: 5px
}

p {
    font-size: 6rem;
}

a {
    font-size: 3rem;
}
